body {
    color: #222222;
    background-color: #ffffff;
    margin: 2em auto;
    padding: 0 .62em;
    font: 1em sans-serif;
    max-width: 60em;
}

table {
    table-layout: fixed;
    border: 1px solid #aaaaaa;
    border-collapse: separate;
    border-radius: .4em;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
}

table td, table th {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: .4em .8em;
}

table td {
    border-top: 1px solid #aaaaaa;
}

table th {
    border-top: none;
    text-align: left;
}

table th:first-child {
    text-align: right
}

form {
    border: 1px solid #aaaaaa;
    border-radius: .4em;
    padding: .8em 1.6em;
    width: calc(100% - 3.2em - 2px);
    margin-bottom: 1em;
}

form label {
    padding: .2em 0;
    margin: .4em 0;
}

form input[type=text], form select {
    display: inline-block;
    font-size: 1em;
    padding: .4em .8em;
    margin: .4em 0 .8em 0;
    width: calc(100% - 1.6em - 2px);
    border: 1px solid #aaaaaa;
    border-radius: .4em;
}

form input[type=text].error {
    margin-bottom: .2em;
    border-color: red;
}

form input[readonly] {
    color: #aaaaaa;
}

form button {
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    padding: .4em .8em;
    margin: .2em .4em .2em 0;
    border: 1px solid #aaaaaa;
    border-radius: .4em;
    color: #222222;
    cursor: pointer;
}

form button[type=submit] {
    background-color: #eeeeee;
}

form button[type=button] {
    background-color: #ffffff;
}

form button[disabled] {
    color: #aaaaaa;
}

form span.error {
    display: block;
    font-size: .9em;
    color: red;
    margin-bottom: .8em;
}

form.hidden {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
}

form.hidden button {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #ffffff;
    position: relative;
    top: -.15em;
}

form.horizontal {
    padding: .4em 1.6em;
}

form.horizontal label {
}

form.horizontal select {
    display: inline-block;
    width: 15em;
    margin: .4em;
    max-width: 30em;
    text-overflow: ellipsis;
}

a, a:visited {
    color: #0055aa;
}

a:hover {
    color: #002288;
}

nav.pager {
    display: table;
    white-space: nowrap;
    border: 1px solid #aaaaaa;
    border-radius: .4em;
    padding: 0;
    margin: 1em auto;
}


nav.pager a {
    display: inline-block;
    border-left: 1px solid #aaaaaa;
    text-decoration: none;
    padding: .4em .8em .4em .8em;
}

nav.pager a.selected {
    color: #ffffff;
    background-color: #0055ff;
}

nav.pager a:first-child {
    border-left: none;
}

nav.pager a:last-child {
    padding-right: .8em;
}

div.sidebar {
    float: left;
    width: 20%;
}

div.main {
    float: right;
    width: 80%;
}

ul.sidebar {
    padding: 0;
    margin: 0 1em 1em 0;
}

ul.sidebar li {
    padding: .4em .8em;
    list-style-type: none;
}

ul.sidebar li.active {
    background-color: #0055ff;
    border-radius: .4em;
}

ul.sidebar a {
    text-decoration: none;
}

ul.sidebar a:nth-child(even) {
    float: right;
}

ul.sidebar li.active a {
    color: #ffffff;
}

@media only screen and (max-width: 60em) {
    div.sidebar,  div.main {
        float: none;
        width: 100%;
    }

    ul.sidebar {
        margin-right: 0;
    }
}

h3 {
    margin: .8em 0em .4em 0em;
}
