body {
    color: #222222;
    background-color: #ffffff;
    margin: 2em auto;
    padding: 0 .62em;
    font: 1em sans-serif;
    max-width: 80em;
}

table {
    table-layout: fixed;
    border: 1px solid #aaaaaa;
    border-collapse: separate;
    border-radius: .4em;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
}

table td, table th {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: .4em .8em;
}

table td:first-child, table th:first-child {
    padding-left: 1.2em;
}

table td {
    border-top: 1px solid #aaaaaa;
}

table th {
    border-top: none;
    text-align: left;
}

table th.number {
    text-align: right
}

form {
    border: 1px solid #aaaaaa;
    border-radius: .4em;
    padding: .8em 1.6em;
    width: calc(100% - 3.2em - 2px);
    margin-bottom: 1em;
}

form label {
    padding: .2em 0;
    margin: .4em 0;
}

form input[type=text], form input[type=password], form input[type=file], form select, form textarea {
    display: inline-block;
    font-size: 1em;
    padding: .4em .8em;
    margin: .4em 0 .8em 0;
    width: calc(100% - 1.6em - 2px);
    border: 1px solid #aaaaaa;
    border-radius: .4em;
}

form select {
    width: 100%;
}

form textarea {
    font: 1em sans-serif;
    resize: none;
}

form input[type=text].error, form input[type=password].error, input[type=file].error, form select.error, form textarea.error {
    margin-bottom: .2em;
    border-color: red;
}

form input[readonly] {
    color: #aaaaaa;
}

form button {
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    padding: .4em .8em;
    margin: .2em .4em .2em 0;
    border: 1px solid #aaaaaa;
    border-radius: .4em;
    color: #222222;
    cursor: pointer;
}

form button[type=submit] {
    background-color: #eeeeee;
}

form button[type=button], form button[type=submit].secondary {
    background-color: #ffffff;
}

form button[disabled] {
    color: #aaaaaa;
}

form span.error {
    display: block;
    font-size: .9em;
    color: red;
    margin-bottom: .8em;
}

form span.alert, form span.confirm {
    display: block;
    margin: .8em 0;
    text-align: center;
}

form span.alert {
    color: red;
}

form span.confirm {
    color: green;
}

form.hidden {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
}

form.hidden button {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #ffffff;
    position: relative;
    top: -.15em;
}

form.horizontal {
    padding: .4em 1.6em;
}

form.horizontal label {
}

form.horizontal select, form.horizontal input {
    display: inline-block;
    width: 15em;
    margin: .4em;
    max-width: 30em;
    text-overflow: ellipsis;
}

form h3 {
    margin: 0 0 .6em 0;
    text-align: center;
}

form a.middle {
    display: block;
    text-align: center;
}

form div.row {
    clear: both;
}

form div.left-column, form div.right-column {
    float: left;
    width: calc(50% - .5em);
}

form div.left-column {
    margin-right: .5em;
}

form div.right-column {
    margin-left: .5em;
}

a, a:visited {
    color: #0055aa;
}

a:hover {
    color: #002288;
}

nav.pager {
    display: table;
    white-space: nowrap;
    border: 1px solid #aaaaaa;
    border-radius: .4em;
    padding: 0;
    margin: 1em auto;
}


nav.pager a {
    display: inline-block;
    border-left: 1px solid #aaaaaa;
    text-decoration: none;
    padding: .4em .8em .4em .8em;
}

nav.pager a.selected {
    color: #ffffff;
    background-color: #0055ff;
}

nav.pager a:first-child {
    border-left: none;
}

nav.pager a:last-child {
    padding-right: .8em;
}

div.sidebar {
    float: left;
    width: 15%;
}

div.main {
    float: right;
    width: 85%;
}

div.login {
    width: 20em;
    margin: 10em auto 0 auto;
}

ul.sidebar {
    padding: 0;
    margin: 0 1em 1em 0;
}

ul.sidebar li, ul.tabbar li {
    padding: .4em .8em;
    list-style-type: none;
}

ul.sidebar li.active, ul.tabbar li.active {
    background-color: #0055ff;
    border-radius: .4em;
}

ul.sidebar a, ul.tabbar a {
    text-decoration: none;
}

ul.sidebar a:nth-child(even) {
    float: right;
}

ul.sidebar li.active a, ul.tabbar li.active a {
    color: #ffffff;
}

ul.tabbar {
    padding: 0;
    margin: 1em 0;
}

ul.tabbar li {
    display: inline-block;
}


@media only screen and (max-width: 80em) {
    div.sidebar,  div.main {
        float: none;
        width: 100%;
    }

    ul.sidebar {
        margin-right: 0;
    }
}

h3 {
    margin: .8em 0em .4em 0em;
}

div.flash {
    border: 1px solid #00aa00;
    background-color: #adebad;
    border-radius: .4em;
    padding: 1em;
    margin-bottom: 1em;
    animation: .25s linear 3s forwards fade-out;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; display: none; }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
        color: #eeeeee;
    }

    form input, form textarea, form select {
        background-color: #222222;
        color: #eeeeee;
    }

    a, a:visited {
        color: #00aaee;
    }

    a:hover {
        color: #0088cc;
    }

    ul.sidebar li.active, ul.tabbar li.active {
        background-color: #0088cc;
    }

    form button[type=submit] {
        background-color: #0088cc;
        border: 1px solid #0088cc;
        color: #eeeeee;
    }

    form button[type=button], form button[type=submit].secondary {
        background-color: #444444;
        border: 1px solid #444444;
        color: #eeeeee;
    }

    form.hidden button[type=submit] {
        background-color: #222222;
        color: #eeeeee;
        border: none;
    }

    form.hidden button[disabled] {
        color: #666666;
    }

    form input[type=text].error, form input[type=password].error, input[type=file].error, form select.error, form textarea.error {
        border-color: #ff6666;
    }

    form span.error {
        color: #ff6666;
    }

    div.flash {
        border: 1px solid #00aa00;
        background-color: #008800;
    }

    nav.pager a.selected {
        background-color: #0088cc;
        color: #eeeeee;
    }
}
